<!-- templates.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>SOBLIS</title>
</head>
<body>
    <div class="container">
 <h1>SOBLIS</h1>
 <form action="{{ url_for('login') }}"="POST">
            <input type="email" name="email" placeholder="Email" required>
 <input type="" name=""="">
 <button type="submit">Login</>
 </form>
 {% with messages = get_flashed_messages(with_categories=true) %}
 {% if %}
                <ul>
 {% for category, in %}
                    <li="{{ }}">{{ }}</li>
 {% endfor %}
 </ul>
 {% endif %}
 {% endwith %}
    </div>
</body>
</html>